In [1]:
import pandas as pd

In [2]:
tabla = pd.read_csv(r'C:\Users\Yeremy\Documents\Proyectos\ventas-pandas\TablaEjemplo.csv')

In [3]:
tabla

  Nombre  Edad       País Automovil
0   Juan    35     México        No
1  Pedro    41     España        Si
2  María    28       Perú        Si
3  Laura    66  Argentina        No

In [4]:
tabla["Nombre"]

0     Juan
1    Pedro
2    María
3    Laura
Name: Nombre, dtype: object

In [5]:
tabla.Edad

0    35
1    41
2    28
3    66
Name: Edad, dtype: int64

In [6]:
tabla[["Nombre","País"]]

  Nombre       País
0   Juan     México
1  Pedro     España
2  María       Perú
3  Laura  Argentina

In [7]:
type(tabla.Nombre)

pandas.core.series.Series

Esta es una serie porque solo aplica a una 'fila' o 'columna'

In [17]:
type(tabla[["Nombre","País"]])

pandas.core.frame.DataFrame

En cambio este es un dataframe porque aplica varias celdas