Lo primero que haremos sera importar la libreria de pandas

In [4]:
import pandas as pd

In [5]:
tabla = pd.read_csv('C:/Users/Yeremy/Documents/Proyectos/ventas-pandas/ventasTotales.csv', skiprows=5, sep=';')

El Atributo Shape devuelve el dato de la dimensionalidad de filas y columnas de nuestro DataFrame

In [8]:
tabla.shape[0]

460

In [9]:
tabla.shape[1]

7

El metodo Head sirve para poder visualizar las primeras lineas de tu DataFrime, te permite elegir la cantidad de lineas que quieres ver, si no esta delimitado por defecto te mostrara las primeras 5 lineas.

In [10]:
tabla.head()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
0,1/1/2016,Steve Ashton,Norte,Medias Femeninas,Vestimenta,6,"18,00"
1,1/1/2016,Trevor Snodgrass,Oeste,Chocolate,Comestibles,8,"3,84"
2,1/1/2016,Sarah Bond,Sur,Gorras,Vestimenta,3,"6,30"
3,1/1/2016,Desmond Delaney,Sur,Sánguche de Queso,Comestibles,9,"14,40"
4,1/1/2016,Desmond Delaney,Este,Chocolate,Comestibles,14,"6,72"

En cambio con el metodo Tail, es al reves y podemos ver nuestras ultimas filas, al igual que Head, delimitandolo como queramos.

In [11]:
tabla.tail()

,Fecha,Vendedor,Región,Artículo,Categoría,Unidades,Ganancia
455,31/1/2016,Sarah Bond,Sur,Bufanda,Vestimenta,6,"16,50"
456,31/1/2016,Dustin Gee,Este,Sandalias,Vestimenta,11,"115,50"
457,31/1/2016,Dustin Gee,Este,Sánguche de Queso,Comestibles,4,"6,40"
458,31/1/2016,Dustin Gee,Norte,Escobillón,Hogar,8,"6,80"
459,31/1/2016,Trevor Snodgrass,Sur,Pepinillo,Comestibles,7,"2,10"

El metodo Info, permite obtener información del DataFrame, como por ejemplo el numero de entradas no nulas que estan en tu DataFrame

In [12]:
tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha      460 non-null    object
 1   Vendedor   460 non-null    object
 2   Región     460 non-null    object
 3   Artículo   460 non-null    object
 4   Categoría  460 non-null    object
 5   Unidades   460 non-null    int64
 6   Ganancia   460 non-null    object
dtypes: int64(1), object(6)
memory usage: 25.3+ KB